
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

body {
    font-family: 'Roboto Slab', 'Times New Roman', serif;
    background-color: #FFF;
    color: #000;
}

ul {
    list-style: none;
}

table {
    margin-bottom: 30px;
    text-align: left;
}

table td,th {
    padding-right: 10px;
}

#intro{
    width: 400px;
}

